<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotWork</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
        crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <!-- navigation -->
        <div class="top-bar" id="appMenu">
            <div class="top-bar-left">
                <ul class="menu" data-responsive-menu="accordion">
                    <li><a href="/">NotWork</a></li>
                    <li><a href="/about">About</a></li>
                    <li><input type="search" placeholder="Find your solution..."></li>
                </ul>
            </div>

            <div class="top-bar-right">
                <ul class="menu">
                    {{#if loggedIn}}
                    <li><a class="button" id="logout" href="/">Logout</a></li>
                    {{else}}
                    <li><a class="button" href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </header>

    <!-- jumbotron -->

    <main>
        {{{ body }}}
    </main>

    <footer class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-6 columns">
                    <p>© NotWork. All rights reserved.</p>
                </div>
            </div>
    </footer>

    <script src="/javascript/logout.js"></script>

</body>

</html>