{{#if posts.length}}
<section class="existing-posts">
  <h2>Your Posts</h2>
  <ol class="existing-posts-list">
    {{#each posts as |post|}}
    
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">EDIT POST</a>
      {{> post-info post}}
          <p>Posted in {{post.equipment.category.category_name}} - {{post.equipment.equipment_name}} </p>

      
    <br>
    {{/each}}
  </ol>
</section>
{{/if}}

{{!-- section to create new post(s) --}}








<script src="/javascript/add-post.js"></script>