<div class="callout large">
       <div class="row column text-center">
        <h1>NotWork</h1>
        <p class="lead">Find Your Network Troubleshooting Solutions Here!</p>
        <a href="dashboard" class="button large hollow">Dashboard</a>
        <a href="dashboard" class="button large">Posts</a>
       </div>
   </div>
<div class="callout large primary">
    <div class="text-center">
      <h2>What brand are you looking for?</h2>
      <!-- <h2 class="subheader">Such a Simple Blog Layout</h2> -->
    </div>
  </div>
<ul class = "category-options">
  {{#each categories}}
  <li>
    <a href="/category/{{id}}"><h3>{{category_name}}</h3></a>  
  </li><br>
  {{/each}}

</ul>
