<div class="container">
  <form class="login-form">
      <h4 class="text-center">Log in to your account</h4>
      <div>
        <label for="username">username</label>
        <input type-"text" id="username-login" autocomplete="on"/>
      </div>
      <label for="password-login">password</label>
      <input type="password" id="password-login" autocomplete="on">
      
      <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
      <p><input type="submit" class="button expanded" value="Log in" autocomplete="on"></input></p>
      {{!-- <p class="text-center"><a href="#">Forgot your password?</a></p> --}}
  </form>
</div>

<script src="/javascript/login.js"></script>