{{!-- USER SIGN-UP --}}
<div class="grid-x">
  <div class="cell medium-2 large-4"></div>
  <div class="cell medium-8 large-4">
<form class="signup-form callout large center">
  
  <div>
    <label for="username-signup">username</label>
    <input type="text" id="username-signup" autocomplete="on"/>
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" autocomplete="on"/>
  </div>
  <div>
    <label for="password-signup">password</label>
    <input type="password" id="password-signup" autocomplete="on" />
  </div>
  <div>
    <button type="submit">SIGNUP</button>
  </div>
  <a href="/login" class ="text-center">Already have an account?</a>
  </div>
  </div>
</form>
</div>
</div>

<script src="/javascript/signup.js"></script>