
<div class="callout large">       
  <div class="row column text-center">

        <h1>{{post.equipment.category.category_name}} - {{post.equipment.equipment_name}}</h1>
       <hr />
    </div>

{{> post-info post}}


{{> comments post.comments}}

{{#if loggedIn}}

<hr/>
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="Add a new comment"></textarea>
  </div>

  <div>
    <button type="submit" class="button">Add Comment</button>
    
  </div>
</form>
{{/if}}



{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}
